:root {
    --primary-font-color: #FF0000;
    --secondary-font-color: #FFC600;
    --primary-background-color: rgba(12, 12, 12, 0.931);
    --secondary-background-color: rgba(100, 100, 100, 0.218);
    --tertiary-background-color: rgba(150, 150, 150, 0.218);
    --light-shadow: rgb(139, 139, 139);
    --dark-shadow: rgba(5, 5, 5, 0.295);
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--primary-background-color);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px, 0
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family:  sans-serif; */
    font-weight: 900;
    font-size: 5rem;
    background-image: -webkit-linear-gradient(90deg, var(--primary-font-color), var(--primary-font-color), var(--secondary-font-color), var(--primary-font-color), var(--primary-font-color));
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family:  sans-serif;
    font-weight: 900;
    font-size: 1.9rem;
    padding: 1rem;
    margin: 1rem;
    /* height: 5vh; */
    background-image: -webkit-linear-gradient(90deg, var(--primary-font-color), var(--primary-font-color), var(--secondary-font-color), var(--primary-font-color), var(--primary-font-color));
    -webkit-background-clip: text;
    color: transparent;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}


#highScore {
    background-color: var(--secondary-background-color);
    border: solid var(--primary-background-color) 2px;
    border-radius: 2%;
    height: 80vh;
    width: 25vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
#logInitials {
    background-color: var(--secondary-background-color);
    border: solid var(--primary-background-color) 2px;
    border-radius: 2%;
    height: 80vh;
    width: 65vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

}

form {
    /* border: #FF0000 solid 2px; */
    height: 30vh;
    width: 60vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;

}


input {
    background-color: var(--secondary-background-color);
    border: solid var(--primary-background-color) 5px;
    height: 20vh;
    width: 15vw;
    border-radius: 4%;
    margin: 1rem;
    font-size: 7rem;
    text-align: center;
    text-transform: capitalize;
    caret-color: transparent;
}

button {
    background-color: var(--secondary-background-color);
    border-radius: 15px;
    width: 10vw;
    height: 5vh;
    /* border: black solid 1px; */
    border: none;
    box-shadow: inset 0px 0px 5px var(--light-shadow), 0px 0px 5px var(--dark-shadow);
    
}