:root {
    --primary-font-color: #FF0000;
    --secondary-font-color: #FFC600;
    --primary-background-color: rgba(12, 12, 12, 0.931);
    --secondary-background-color: rgba(100, 100, 100, 0.218);
    --tertiary-background-color: rgba(150, 150, 150, 0.218);
    --light-shadow: rgb(139, 139, 139);
    --dark-shadow: rgba(5, 5, 5, 0.295);
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--primary-background-color);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px, 0
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family:  sans-serif; */
    font-weight: 900;
    font-size: 5rem;
    background-image: -webkit-linear-gradient(90deg, var(--primary-font-color), var(--primary-font-color), var(--secondary-font-color), var(--primary-font-color), var(--primary-font-color));
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family:  sans-serif;
    font-weight: 900;
    font-size: 1.9rem;
    padding: 1rem;
    margin: 1rem;
    /* height: 5vh; */
    background-image: -webkit-linear-gradient(90deg, var(--primary-font-color), var(--primary-font-color), var(--secondary-font-color), var(--primary-font-color), var(--primary-font-color));
    -webkit-background-clip: text;
    color: transparent;
}

h3 {
    text-align: center;
    font-size: 2rem;
    background-color: var(--tertiary-background-color);
    border: solid black 2px;
    padding: 1vh 2vw;
    border-radius: 10px;
    margin-top: 2rem;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    /* border: solid black 2px; */
    width: 80vw;
    list-style: none;
    display: grid;
    margin-top:2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 9px;

}

p {
    font-size: 1.5rem;
    font-weight: 900;
    background-color: var(--tertiary-background-color);
    border-radius: 5px;
    padding: .5rem 1rem;
}

#timeLeft{
    font-size: inherit;
    font-weight: inherit;
}

li {
    border: solid black 2px;
    /* background-color: #FF0000; */
    background-color: var(--tertiary-background-color);
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    padding: 2rem;
}

li:hover{
    box-shadow: inset 0 0 10px var(--light-shadow), 0 0 10px var(--dark-shadow);
}

#answerA {
    grid-area: 1 / 2 / 2 / 3;
}
#answerB {
    grid-area: 2 / 1 / 3 / 2; 
}

#answerC {
    grid-area: 2 / 3 / 3 / 4;
}

#answerD {
    grid-area: 3 / 2 / 4 / 3;
}