* {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: salmon;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;  
}
h1{
    font-size: 5rem;
    font-family: 'Poppins', sans-serif
}

h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
main {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


ul{
    border: solid black 2px;
    /* width: 80vw;
    height: 80vh; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

li {
    border: solid black 2px;
    height: 10vh;
    width: 15vh;
    /* margin:1vh 0vh; */
    font-size: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#answerA, #answerD {
    display: flex;
    flex-basis: 100%;
    
}
#answerB, #answerC {
    display: flex;
    flex-basis: 45%;
}